{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}
    Edit Data page - {{ block.super }}
{% endblock title %}

<!-- page specific plugin scripts -->
{% block javascript %}
  <script src="{% static 'js/app/samplejqdt/editdata1.js' %}"></script>
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{% url 'home' %}">Home</a> </li>
				<li>
					<i class="ace-icon"></i>
                    <a href="{% url 'datatable1' %}">Data Table1</a> </li>
                <li class="active">Edit Data</li>
            </ul>
            <!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <!-- /.span -->
                    </div>
                    <!-- /.row -->
                    <h4 class="pink">

                        <a href="#modal-table" role="button" class="green" data-toggle="modal"></a>
                    </h4>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="clearfix">
                                <div class="pull-right tableTools-container"></div>
                            </div>
                            <div class="table-header">
                                Edit Data </div>

                            <form class="form-horizontal" role="form">
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> User name </label>

										<div class="col-sm-9">
											<input type="text" id="id_username" name="username" placeholder="User name" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email </label>

										<div class="col-sm-9">
											<input type="text" id="id_email" name="email" placeholder="Email" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button"
													id="btnUpdate"
													data-get-url="{% url 'ajax_getdata1' pkid %}"
													data-edit-url="{% url 'ajax_puteditdata1' pkid %}">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Update
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset" id="btnReset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Reset
											</button>
										</div>
									</div>
							</form>
                            
                        </div>
                    </div>

                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
</div>
</div>
<!-- /.main-content -->
 
 {% endblock content %}