{% load staticfiles %}
<div>header</div>
{% if user.is_authenticated %}
    <img src="{{ user.profile.get_picture }}" style="width: 75px; height: 50px;"/>
    Welcome {{user.username}},
    <a href="{% url 'signout' %}" title="Sign out">Sign out</a>
{% else %}
    <img src="{% static 'images/user.png' %}" style="width: 75px; height: 50px;"/>
    Welcome guest,
    <a href="{% url 'signin' %}" title="Sign in">Sign in</a>
    <a href="{% url 'signup' %}" title="Sign up" style="margin-right: 5px;">Sign up</a>
{% endif %}
<div>header end</div>