{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
<script src="{% static 'datajs/grouplist.js' %}"></script>
<script src="{% static 'datajs/loadTaskList.js' %}"></script>
<script src="{% static 'datajs/masterData.js' %}"></script>
<script src="{% static 'datajs/mysidenav.js' %}"></script>
<script>
    var groupId = '{{ groupId | escapejs }}';
    var group = '{{ group | escapejs }}';
    var loanId = '{{ loanId | escapejs }}';
    var userId = '{{ userId | escapejs }}';
    var taskName = '{{ taskName | escapejs }}';
    var taskId = '{{ taskId | escapejs }}';
    var processInstanceId = '{{ processInstanceId | escapejs }}';
    
    $(document).ready(function(){
    taskCount();
    loadGroupRoles(groupId,loanId,taskName);
    getHistComments(processInstanceId);
    
    });
</script>
{% endblock %}
<!-- PAGE CONTENT BEGINS -->
{% block content %}
<div class="row" id="main">
    <!--2row Start col-10 start-->
    <div class="panel panel-default">
        <div class="panel-heading"><span id="groupName"></span>  &nbsp&nbsp&nbsp( <span id="appGroupId1"></span> )<span id="groupId" style="visibility:hidden;"></span>
         <span id="loanTypeId1" style="visibility:hidden;"></span></div>
        <div class="panel-body-danger">
            <!--2row panel body start-->
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active"><a data-toggle="tab" href="#upload">Group Details</a></li>
                </ul>
                <div class="tab-content">
                    <div align="right" title="Comments">
                            <span style="font-size:20px;cursor:pointer" onclick="toggleNav();" onclick="myFunction(this)">
                                <button id="commentsBtn" style="float:right;margin-top:-55px;margin-right:-11px" class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn" data-target="#right-menu" data-toggle="modal"  type="button">
                                    Comments
                                </button>
                            </span>
                        </div>
                    <div id="upload" class="tab-pane in active">
                        <!-- form start-->
                        <section>
                            <!---upload doc startion-->
                            <div class="row">
                                <!--secnod div started-->
                                <div class="col-md-5">
                                    <div class="space-12"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Formation Date </div>
                                            <div class="profile-info-value"> <span class="editable" id="groupFormationDate"></span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> SHG Address </div>
                                            <div class="profile-info-value"> <span class="editable" id="shgaddress"></span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Animator </div>
                                            <div class="profile-info-value"> <span class="editable" id="animator"> </span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Rep 1</div>
                                            <div class="profile-info-value"> <span class="editable" id="rep1"> </span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Rep 2</div>
                                            <div class="profile-info-value"><span class="editable" id="rep2"> </span> </div>
                                        </div>
                                    </div>
                                </div>
                                <!--secnod div ended-->
                                <div class="col-md-5">
                                    <div class="space-12"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> SHG Id </div>
                                            <div class="profile-info-value"> <span class="editable" id="appGroupId"></span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> MDA </div>
                                            <div class="profile-info-value"> <span class="editable" id="mda"></span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> MWA</div>
                                            <div class="profile-info-value"> <span class="editable" id="mwa"></span> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Village </div>
                                            <div class="profile-info-value"> <span class="editable" id="villageName"></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ROW END -->
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" rows="5" id="comment"></textarea>
                                    </div>
                                </div>
                                <div class="row-centered">
                                    <div class="col-md-12">
                                        {% if taskName == "Print Loan Documents & FSR" %}
                                            <button type="button" class="btn btn-danger btn-md" onclick="updateGroupValStatus('Approved');">Approve</button>
                                            <button type="button" class="btn btn-danger btn-md" onclick="updateGroupValStatus('Rejected');">Reject</button>
                                        {% endif %}
                                        {% if taskName == "Add New Members" %}
                                            <button onclick="updateTask('Approved');" class="btn btn-danger" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Approve
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                                <!--upload doc end-->
                        </section>
                        <!-- SECTION END -->
                        </div>                              <!--form End-->
                    </div>
                    <!-- TAB END-->
                </div>
                <!--2row panel body end-->
            </div>
        </div>
        <!--2row Start col-10 End-->
    </div>
    <!--2row End-->
</div>
</div>
{% include 'query.html' %}
{% endblock content %}
