{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}

<script src="{% static 'datajs/grouplist.js' %}"></script>
<script src="{% static 'datajs/masterData.js' %}"></script>


{% endblock %}

<!-- PAGE CONTENT BEGINS -->
{% block content %}


<div class="row">  <!--2row Start-->
      <div class="col-xs-2 " >  <!--2row Start col2 start-->
                                
        <div class="panel panel-default">
            <div class="panel-heading">Group Detail </div>
                <div class="panel-body">
                     <div class="list-group" id="san_test">  </div>
                </div>
             </div>
        </div>                    <!--2row Start col2 End-->
                                
                              
                              
            
     <div class="col-xs-10" >    <!--2row Start col-10 start-->
            <div class="panel panel-default">                                         
                 <div class="panel-heading">Rose Group (3242423 ) </div>      
                        <div class="panel-body-danger">    <!--2row panel body start-->
                        
                        
                              <div class="tabbable">
                                            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                                                <li class="active"><a data-toggle="tab" href="#home4">Member</a></li>
                                                <li><a data-toggle="tab" href="#profile4">Credit Enquiry</a></li>
                                            </ul>
                        
                        
                            
                                            <div class="tab-content">
                                                <div id="home4" class="tab-pane in active">
                                                <!-- form start-->
                                                         <section>
                                                             
                                                             
                                                             <div class="row">      <!-- tabrow start-->
                                                                    
                                                                    
                                                                    <div class="col-md-2">      <!-- tabrow  colmd-2 start-->
                                                                        <img src="naveen.jpg" height="135" width="134" class="img-rounded img-responsive" />  <br />

                                                                    </div>           <!-- tabrow  colmd-2 end-->
                                                                    
                                                                    
                                                                
                                     <div class="col-md-5">       <!-- tabrow  colmd-5 start-->
                                                                   
                                                                        
                                                <form class="form-horizontal" role="form">
                
                
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Name  </div>
                                                            <div class="profile-info-value">
                                                            <span class="editable" id="username">Mohana</span>
                                                            </div>
                                                         
                                                         </div>
                                                         
                                                         

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Age </div>


                                                            <div class="profile-info-value">
                                                                <span class="editable" id="age">38</span>
                                                         </div>
                                                    </div>
                                                  
                                                  
                                                  
                                                  
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Spouse  </div>

                                                            <div class="profile-info-value">

                                                                <span class="editable" id="husbandName">  kamal </span>
                                                            </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                    
                                                    <div class="profile-info-row">
                                                      <div class="profile-info-name"> Father </div>
                                                        <div class="profile-info-value"> 
                                                         
                                                            <span class="editable" id="fatherName">Murgan</span>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                    <div class="profile-info-row">
                                                      <div class="profile-info-name"> Address </div>
                                                         <div class="profile-info-value"> 
                                                          <span class="editable" id="address"> 55 main street,chennai,tamilnadu</span>

                                                           
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                    <div class="profile-info-row">
                                                      <div class="profile-info-name"> Role </div>
                                                        <div class="profile-info-value"> 
                                                        <span class="editable" id="roleName">  
                                                       <font color="#FF0000"> Animator</font></span>
                                                        
                                                         </div>
                                                    </div>
                                                    


                                                    <div class="profile-info-row">
                                                      <div class="profile-info-name"> Village </div>
                                                          <div class="profile-info-value">
                                                          <span class="editable" id="villageName">Vellore</span>
                                                            
                                                          </div>
                                                     </div>



                                                       <div class="profile-info-row">
                                                      <div class="profile-info-name">  Permanent Addresss </div>
                                                          <div class="profile-info-value">
                                                          <span class="editable" id="villageName"> 55 main street,chennai,tamilnadu</span>
                                                            
                                                          </div>
                                                     </div>



                                                       <div class="profile-info-row">
                                                      <div class="profile-info-name"> Pin Code  </div>
                                                          <div class="profile-info-value">
                                                          <span class="editable" id="villageName">632 012</span>
                                                            
                                                          </div>
                                                     </div>

                                                       <div class="profile-info-row">
                                                      <div class="profile-info-name"> Area </div>
                                                          <div class="profile-info-value">
                                                          <span class="editable" id="villageName">Guidayatam</span>
                                                            
                                                          </div>
                                                     </div>


                                                       <div class="profile-info-row">
                                                      <div class="profile-info-name"> Mobileno </div>
                                                          <div class="profile-info-value">
                                                          <span class="editable" id="villageName">995238771</span>
                                                            
                                                          </div>
                                                     </div>




                                                    </div>



                                                    
                                                                                                        
                                  </div> <!-- tabrow  colmd-5 END-->
                                  
                                  
                                  
                                  
                                  
                                  
                <div class="col-md-5">  <!-- tabrow  2 colmd-5 sTART-->
                
                                            
                
                        <div class="profile-user-info profile-user-info-striped">
                                                

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> ID Proof </div>

                                                    <div class="profile-info-value">
                                                        <span class="editable" id="idProofValue">1200 1200 5589 1200</span>
                                                         
                                                        &nbsp;&nbsp; <button type="button" class="btn btn-info btn-md btn-danger" id="myBtn2">view proof</button>
                                                    </div>                                                  
                                                   </div>
                                                
                                                
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Address Proof </div>

                                                    <div class="profile-info-value">
                                                        <span class="editable" id="addressProofValue">1200 1200 </span>
                                                        
                                                        &nbsp;&nbsp; <button type="button" class="btn btn-info btn-md btn-danger" id="myBtn3">view proof</button>       
                                                    </div>
                                                </div>
                                                
                                                

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> SB Account  </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountNumber_h">1200 1200 </span>
                                                        
                                                       
                                                    </div>
                                                </div>
                                                
                                                
                                                
                                                

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Bank name </div>
                                                        <div class="profile-info-value">
                                                        <span class="editable" id="bankId_h">1200 1200 </span>
                                                       
                                                    
                                                            </span>
                                                         </div>
                                                </div>
                                                    
                                                    
                                                    
                                                    

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Name (as in Bank Account) * </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName">Mohana </span>
                                                        
                                                    </div>
                                                    
                                                </div>


                                                   <div class="profile-info-row">
                                                    <div class="profile-info-name"> Id Proof Type </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName">Mohana </span>
                                                        
                                                    </div>
                                                    
                                                </div>


                                                 <div class="profile-info-row">
                                                    <div class="profile-info-name"> Id Proof Type </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName">AADHAR CARD </span>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                

                                                 <div class="profile-info-row">
                                                    <div class="profile-info-name"> Address Proof Type</div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName_t">Drivinc Licence </span>
                                                        
                                                    </div>
                                                    
                                                </div>


                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">  Loan Amount </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName_t">3000 </span>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                


                                                   <div class="profile-info-row">
                                                    <div class="profile-info-name"> Loan purpose </div>

                                                    <div class="profile-info-value">
                                                    <span class="editable" id="loanPurpose_t">Agricultural </span>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                

                                                



                                                
                                                
                                                
                          </div>                        
    
                </div>    <!-- tabrow  2 colmd-5 END-->
                
                                                                    </div>   <!-- tabrow END-->
                                                                    
                                                                    
           
                    
                    
                    
                    
                    
                    
                                            
                                                
                        
                        
                        
                        
                        
                        
                        
                
                
                
                
                
                <br>
                                <div class="row">       <!--- tab 3row start -->    
                                <div class="col-md-2"> </div>
                                
                                
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" rows="3" id="comment"></textarea>
                                  </div>
                                  
                                  
                                </div>   <!--- tab 3row end -->
                                
                                    
                                
                                
                                
                                <div class="row">  <!--- tab final row start -->
                                
                                  <div class="col-md-2"></div>
                                  
                                  <div class="col-md-10"> &nbsp;&nbsp;
                                    <!--<button type="button" class="btn btn-danger btn-md" id="myBtn2">Cancel</button>-->
                                      
                                    <button type="button" class="btn btn-danger btn-md" id="myBtn2">Raise Query</button>
                                      
                                    <button type="button" class="btn btn-danger btn-md" id="myBtn2">Approve</button>
                                      
                                    <button type="button" class="btn btn-danger btn-md" id="myBtn2">Reject</button>
                                  </div>
                                  
                                  
                                </div>       <!--- tab final row end -->
                                
                                
                                </section> <!-- SECTION END -->
                                
                        </div>                              <!--form End-->
                        
                        
                        
                        
                            <div id="profile4" class="tab-pane"> <!--TAB MENU2 CONTENT START-->
                            
                                    <div class="page-content">
            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                      <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                      <div class="widget-box widget-color-blue" id="widget-box-2">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">
                            
                            Credit Enquiry    </h5>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <table  id="taskListTable" class="table table-striped table-bordered table-hover">
                             

                        
                            </table>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.span -->
                  </div><!-- /.row -->
                <!-- PAGE CONTENT ENDS -->
                
                
                
              </div>
              <!-- /.col -->
            </div>
                                                
                                                
                                                
                                                
        </div>
                                                
                                                
                                                
                                                

     </div>
                    

                    
                            </div>   <!--TAB MENU2 CONTENT END-->


                    </div>            <!-- TAB END-->
                        


            
            
            
            
                        
                         </div> <!--2row panel body end-->
                        
                
            </div>
    </div>   <!--2row Start col-10 End-->
    
       
     </div>    <!--2row End-->
                      


  {% include 'query.html' %}



{% endblock content %}









