{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
<script src="/static/datajs/grouplist.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/loadTaskList.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/masterData.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/mysidenav.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/DocUPload.js?v={{JS_VERSION}}"></script>
<script>
    var groupId = '{{ groupId | escapejs }}';
    var loanId = '{{ loanId | escapejs }}';
    var taskId = '{{ taskId | escapejs }}';
    var taskName = '{{ taskName | escapejs }}';
    var group = '{{ group | escapejs }}';
    var userId = '{{ userId | escapejs }}';
    var loanType = '{{ loanType | escapejs }}';
    var loanTypeId = '{{ loanTypeId | escapejs }}';
    var processInstanceId = '{{ processInstanceId | escapejs }}';
    $(document).ready(function (){
        loanDocument(loanTypeId);
        loadGroupRoles(groupId,loanId,taskName);
        $("#loading").hide();
    });
</script>
{% endblock %}
{% block content %}
<div class="row" id="main">
    <div class="col-lg-12" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <span id="groupName_groupRole"></span>
                &nbsp&nbsp&nbsp( <span id="appGroupId1"></span> )
                <span id="groupId" style="visibility:hidden;"></span>
                <span id="loanTypeId1" style="visibility:hidden;"></span>
                <span style="font-size:20px;cursor:pointer" onclick="toggleNav();" onclick="myFunction(this)">
                        <button id="commentsBtn" style="float:right;margin-top:-3px;margin-right:-6px"
                                    class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn"
                                    data-target="#right-menu" data-toggle="modal" type="button">
                            <i class="fa fa-comment fa-1x" style="cursor:pointer" aria-hidden="true"></i>
                        </button>
                    </span>
            </div>
            <div class="row" id="successPanel" style="display:none;">
                <div class="error-container">
                    <div class="well">
                            <h2 id="validationMessage" class="grey lighter smaller">   </h2>
                        <hr />
                        <div id="gStatus"></div>
                        <div class="space"></div>
                        <hr />
                        <div class="space"></div>
                        <div class="center" id="taskValBtn"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body-danger">
                <div id="defaultDisplay">
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                            <li id="tab1" class="active">
                                <a data-toggle="tab" href="#upload">Upload Doc</a>
                            </li>
                            <li id="tab2" >
                                <a data-toggle="tab" href="#groupDetail">Group Details</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="groupDetail" class="tab-pane">
                                <section>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="space-12"></div>
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Formation Date</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="groupFormationDate_groupRole"></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> SHG Address</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="shgaddress_groupRole"></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Animator</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable">
                                                                <select class="editable compact" id="Animator">
                                                                    <option value="">Select Animator</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Rep 1</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable">
                                                                <select class="editable compact" id="repm1">
                                                                    <option value="">Select Rep1</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Rep 2</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable">
                                                                <select class="editable compact" id="repm2">
                                                                    <option value="">Select Rep2</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                        <span id="animatorId_groupRole" style="display:none;"></span>
                                                        <span id="rep1Id_groupRole" style="display:none;"></span>
                                                        <span id="rep2Id_groupRole" style="display:none;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--secnod div ended-->
                                            <div class="col-md-5">
                                                <div class="space-12"></div>
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> SHG Id</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="appGroupId_groupRole"></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> MDA</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="mda_groupRole"></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> MWA</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="mwa_groupRole"></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Village</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="villageName_groupRole"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-centered">
                                                <div class="col-md-12"> &nbsp;&nbsp;
                                                    <button type="button" style="margin-top:10px;" class="btn btn-danger btn-md" onclick="updateGroupMemberStatus();">Update                               </button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div id="upload" class="tab-pane in active">
                                    <section>
                                        <div class="page-content">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <form name = "form" enctype = "multipart/form-data" action = "{% url "ajax_progress_bar_upload" %}" method = "POST" >{% csrf_token %}
                                                        <table class="table table-bordered" id="docments_table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Doc ID</th>
                                                                    <th>Document Name</th>
                                                                    <th>Upload / View Doc</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="records_table">
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                    <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2"> </div>
                                                </div>
                                            </div>
                                            <div class="row vertical-center">
                                                <div class="col-md-10">
                                                    <div class="profile-user-info profile-user-info-striped">
                                                        <div class="profile-info-row">
                                                            <div id="commentDivId" class="profile-info-name">
                                                                <label id="comment_label" for="comment">Comment </label>
                                                            </div>
                                                            <div class="profile-info-value">
                                                                <span class="editable">
                                                                    <textarea class="form-control limited sample" maxlength="3000" rows="3" id="comment"></textarea>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="profile-user-info">
                                                    <div class="profile-info-row">
                                                        <div class="col-md-12">
                                                            <button onclick="updateGroupValStatus('Approved');" class="btn btn-danger" type="button">
                                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                                Approve
                                                            </button>
                                                            &nbsp; &nbsp; &nbsp;
                                                            <button onclick="window.location.href='/assignedTaskList/';"class="btn btn-danger" type="reset">
                                                                <i class="ace-icon fa fa-close bigger-110"></i>
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'query.html' %}
    {% endblock content %}
