{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
<script src="/static/datajs/grouplist.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/loadTaskList.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/masterData.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/mysidenav.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/DocUPload.js?v={{JS_VERSION}}"></script>
<script>
    var groupId = '{{ groupId | escapejs }}';
    var loanId = '{{ loanId | escapejs }}';
    var taskId = '{{ taskId | escapejs }}';
    var taskName = '{{ taskName | escapejs }}';
    var group = '{{ group | escapejs }}';
    var userId = '{{ userId | escapejs }}';
    var loanType = '{{ loanType | escapejs }}';
    var loanTypeId = '{{ loanTypeId | escapejs }}';
    var processInstanceId = '{{ processInstanceId | escapejs }}';
    $(document).ready(function (){
        loanDocument(loanTypeId);
        loadGroupRoles(groupId,loanId,taskName);
        //getHistComments(processInstanceId);
        //getMemberComments(processInstanceId,loanId);
        //getGroupComments(processInstanceId,loanId);
        $("#loading").hide();
    });
</script>
{% endblock %}
<!-- PAGE CONTENT BEGINS -->
{% block content %}
<div class="row" id="main">
<!--2row Start-->
<div class="col-lg-3 pricing-box" >
    <!--2row Start col3 start-->
    <div class="panel panel-default">
        <div class="panel-heading">Group Detail </div>
        <div class="panel-body">
            <!--2row Start col3 body start-->
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> SHG Name </div>
                    <div class="profile-info-value"> <span class="editable" id="groupName_groupRole"></span> </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Formation Date </div>
                    <div class="profile-info-value"> <span class="editable" id="groupFormationDate_groupRole"></span> </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> SHG Address </div>
                    <div class="profile-info-value">
                        <span  rows="3" class="editable"  id="shgaddress_groupRole" placeholder="Address"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Animator </div>
                    <div class="profile-info-value">
                        <span class="editable">
                            <select class="editable compact" id="Animator" >
                                <option value="">Select Animator</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Rep 1</div>
                    <div class="profile-info-value">
                        <span class="editable">
                            <select class="editable compact" id="repm1" >
                                <option value="">Select Rep1</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Rep 2</div>
                    <div class="profile-info-value">
                        <span class="editable" >
                            <select class="editable compact" id="repm2" >
                                <option value="">Select Rep2</option>
                            </select>
                        </span>
                    </div>
                    <span id="animatorId_groupRole" style="display:none;"></span>
                    <span id="rep1Id_groupRole" style="display:none;"></span>
                    <span id="rep2Id_groupRole" style="display:none;"></span>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> SHG Id </div>
                    <div class="profile-info-value"> <span class="editable" id="appGroupId_groupRole"></span> </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> MDA </div>
                    <div class="profile-info-value"> <span class="editable" id="mda_groupRole"></span> </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> MWA</div>
                    <div class="profile-info-value"> <span class="editable" id="mwa_groupRole"></span> </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Village </div>
                    <div class="profile-info-value"> <span class="editable" id="villageName_groupRole"></span></div>
                </div>
                
            </div><br>
            <button type="button" class="btn btn-danger btn-md " onclick="updateGroupMemberStatus();">Update</button>
        </div>
        <!--2row Start col3 body end-->
    </div>
</div>
<!--2row Start col2 End-->
<div class="col-lg-9" >
    <!--2row Start col-10 start-->
    <div class="panel panel-default">
        <div class="panel-heading"><span id="groupName1"></span>  &nbsp&nbsp&nbsp( <span id="appGroupId1"></span> )<span id="groupId" style="visibility:hidden;"></span>
        <span id="loanTypeId1" style="visibility:hidden;"></span></div>
        <div class="panel-body-danger">
            <!--2row panel body start-->
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active"><a data-toggle="tab" href="#upload">Upload Doc</a></li>
                </ul>
                <div class="tab-content">
		            <div align="right" title="Comments">
                        <span style="font-size:20px;cursor:pointer" onclick="toggleNav();" onclick="myFunction(this)">
                            <button id="commentsBtn" style="float:right;margin-top:-55px;margin-right:-11px" class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn" data-target="#right-menu" data-toggle="modal"  type="button">
                                Comments
                            </button>
                        </span>
                    </div>
                    <div id="upload" class="tab-pane in active">
                        <!-- form start-->
                        <section>
                            <!---upload doc startion-->
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- PAGE CONTENT BEGINS -->
                                        <form name = "form" enctype = "multipart/form-data" action = "{% url "ajax_progress_bar_upload" %}" method = "POST" >{% csrf_token %}
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>Doc ID</th>
                                                    <th>Document Name</th>
                                                    <th>Upload / View Doc</th>
                                                </tr>
                                            </thead>
                                            <tbody id="records_table">
                                            </tbody>
                                        </table>
                                        </form>
                                        <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2"> </div>
                                        <!-- /.span -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- PAGE CONTENT ENDS -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!--upload doc end-->
                        </section>
                        <!-- SECTION END -->
                    </div>
                    <!--form End-->
                </div>
                <!-- TAB END-->
            </div>
            <!--2row panel body end-->
        </div>
    </div>
    <!--2row Start col-10 End-->
</div>
<!--2row End-->

<div class="row">
    <div class="col-md-offset-3">

        <div class="clearfix form-actions">
            <label id="comment_label" for="comment">Comment </label>
            <textarea class="form-control limited sample"
                            maxlength="3000" rows="3" id="comment">
                        </textarea></br>
            <div class="col-md-offset-3 col-md-9">
                <button onclick="updateGroupValStatus('Approved');" class="btn btn-danger" type="button">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Approve
                </button>
                &nbsp; &nbsp; &nbsp;
                <button onclick="window.location.href='/assignedTaskList/';"class="btn btn-danger" type="reset">
                <i class="ace-icon fa fa-close bigger-110"></i>
                Cancel
                </button>
            </div>
        </div>
    </div>
</div>

  {% include 'query.html' %}
{% endblock content %}
