{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}

<script src="{% static 'datajs/grouplist.js' %}"></script>
<script src="{% static 'datajs/masterData.js' %}"></script>


{% endblock %}

<!-- PAGE CONTENT BEGINS -->
{% block content %}


<div class="row">  <!--2row Start-->
      <div class="col-xs-3 " >  <!--2row Start col3 start-->
                                
        <div class="panel panel-default">
            <div class="panel-heading">Group Detail </div>
                <div class="panel-body">   <!--2row Start col3 body start-->


                                                  
                            <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                              <div class="profile-info-name2"> SHG Name </div>
                              <div class="profile-info-value"> <span class="editable" id="username">BAGAVATHI</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> Formation Date </div>
                              <div class="profile-info-value"> <span class="editable" id="username">09/12/2016</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> SHG Address </div>
                              <div class="profile-info-value"> <span class="editable" id="age">tiruppatur</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> Animator </div>
                              <div class="profile-info-value"> <span class="editable" id="signup">
                                <select>
                                  <option>Santhi</option>
                                  <option>aurna</option>
                                  <option>sunitha</option>
                                </select>
                                </span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> Rep 1</div>
                              <div class="profile-info-value">
                                <select>
                                  <option>sunitha</option>
                                  <option>aurna</option>
                                  <option>santhi</option>
                                </select>
                              </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> Rep 2</div>
                              <div class="profile-info-value">
                                <select>
                                  <option>aurna</option>
                                  <option>santhiya</option>
                                  <option>sunitha</option>
                                </select>
                              </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> SHG Id </div>
                              <div class="profile-info-value"> <span class="editable" id="signup">879274</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> MDA </div>
                              <div class="profile-info-value"> <span class="editable" id="signup">NA</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> MWA</div>
                              <div class="profile-info-value"> <span class="editable" id="login">OMSAKTHI T (MMFL 2381)</span> </div>
                            </div>
                            <div class="profile-info-row">
                              <div class="profile-info-name"> Village </div>
                              <div class="profile-info-value"> <span class="editable" id="username"> <span class="editable" id="about">KRISHNAGIRI</span> </div>
                            </div>
                            </div>
                      



                </div>  <!--2row Start col3 body end-->
             </div>
        </div>                    <!--2row Start col2 End-->
                                
                              
                              
            
     <div class="col-xs-9" >    <!--2row Start col-10 start-->
            <div class="panel panel-default">                                         
                 <div class="panel-heading">Rose Group (3242423 ) </div>      
                        <div class="panel-body-danger">    <!--2row panel body start-->
                        
                        
                              <div class="tabbable">
                                            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                      <li class="active"><a data-toggle="tab" href="#upload">Upload Doc</a></li>
                                               
                                            </ul>
                        
                        
                            
                                            <div class="tab-content">
                                                <div id="upload" class="tab-pane in active">
                                                <!-- form start-->
                                        <section>




                                        <!---upload doc startion-->
                                        <div class="page-content">
                                            <div class="row">
                                              <div class="col-xs-12">
                                                <!-- PAGE CONTENT BEGINS -->
                                                <table class="table table-bordered">
                                                  <thead>
                                                    <tr>
                                                      <th>#</th>
                                                      <th>Document Name</th>
                                                      <th>Browse</th>
                                                      <th>Upload</th>
                                                      <th>View</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <th scope="row">1</th>
                                                      <td>Document 1</td>
                                                      <td><input type="file"></td>
                                                      <td><input type="button" value="upload"></td>
                                                      <td><input type="button" value="View"></td>
                                                    </tr>
                                                    <tr>
                                                      <th scope="row">2</th>
                                                      <td>Document 2</td>
                                                      <td><input type="file"></td>
                                                      <td><input type="button" value="upload"></td>
                                                      <td><input type="button" value="View"></td>
                                                    </tr>
                                                    <tr>
                                                      <th scope="row">3</th>
                                                      <td>Document 3</td>
                                                      <td><input type="file"></td>
                                                      <td><input type="button" value="upload"></td>
                                                      <td><input type="button" value="View"></td>
                                                    </tr>
                                                    <tr>
                                                      <th scope="row">4</th>
                                                      <td>Document 4</td>
                                                      <td><input type="file"></td>
                                                      <td><input type="button" value="upload"></td>
                                                      <td><input type="button" value="View"></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2"> </div>
                                                <!-- /.span -->
                                              </div>
                                              <!-- /.row -->
                                              <!-- PAGE CONTENT ENDS -->
                                            </div>
                                            <!-- /.col -->
                                          </div>













                                        <!--upload doc end-->
   
                                                             
                                                         
                                
                                        </section> <!-- SECTION END -->
                                
                        </div>                              <!--form End-->
                        
                        
                        
                        
                           

                    </div>            <!-- TAB END-->
                        


            
            
            
            
                        
                         </div> <!--2row panel body end-->
                        
                
            </div>
    </div>   <!--2row Start col-10 End-->
    
       
     </div>    <!--2row End-->



        <div class="row">
        
         
          <div class="col-md-offset-3 col-xs-9">
         <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Approve
                      </button>

                      &nbsp; &nbsp; &nbsp;
                      <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reject
                      </button>
                    </div>
                  </div>
         </div>
        
        </div>
            
                      


  {% include 'query.html' %}



{% endblock content %}









