{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
<script src="/static/datajs/grouplist.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/loadTaskList.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/masterData.js?v={{JS_VERSION}}"></script>
<script src="/static/datajs/mysidenav.js?v={{JS_VERSION}}"></script>
<script>
    var groupId = '{{ groupId | escapejs }}';
    var group= '{{ group | escapejs }}';
    var loanId = '{{ loanId | escapejs }}';
    var userId = '{{ userId | escapejs }}';
    var taskName = '{{ taskName | escapejs }}';
    var taskId = '{{ taskId | escapejs }}';
    var loanTypeName = '{{ loanType | escapejs }}';
    var loanTypeId = '{{ loanTypeId | escapejs }}';

    var processInstanceId = '{{ processInstanceId | escapejs }}';

    $(document).ready(function(){
        $("#commentSpanId").css("display","inline-block");
        loadGroupRoles(groupId,loanId,taskName);
        //getHistComments(processInstanceId);
        //getMemberComments(processInstanceId,loanId);
        //getGroupComments(processInstanceId,loanId);
        
        documentView(loanId);
        getLoanDetails(groupId,loanId);
        
        $('textarea.limited').inputlimiter({
          remText: '%n character%s remaining...',
          limitText: 'max allowed : %n.'
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#drop").click(function(){

            var dropMember = [];
            $.each($("input[name='drop']:checked"), function(){
                 dropMember.push($(this).val());
            });

            if(dropMember.length == 0){
                $.alert("No members Chosen to drop");
                return false;
            }
            dropMemberDetail(loanId,dropMember,groupId);
        });
    });
</script>

<script type="text/javascript">

    function convertTableToJson()
        {
            var rows = [];
            $('table.paymentTable tr').not('thead tr').each(function(i, n){
                var $row = $(n);
                rows.push({
                      "memberId":   $row.find("td:eq(17) input[type='checkbox']").val(),
                      "loanAmount": $row.find("td:eq(7) input[type='text']").val(),
                      "awb":  $row.find("td:eq(8) input[type='text']").val(),
                      "insuranceAmount":  $row.find("td:eq(14)").text(),
                      "solarLight":  $row.find("td:eq(9) input[type='text']").val(),
                      "purpose":  $row.find("td:eq(16) :selected").val(),
                      //"atldebt": $row.find("td:eq(18) input[type='text']").val(),
                      "atldebt": $row.find("td:eq(10)").text(),
                      "interest": $row.find("td:eq(19) input[type='text']").val(),
                      "prevMonthGroupBalance":  $row.find("td:eq(20) input[type='text']").val(),
                      "currentMonthCollection": $row.find("td:eq(21) input[type='text']").val(),
                      "currentMonthOutstanding":  $row.find("td:eq(22) input[type='text']").val(),
                      "prevLoanGroupAmount": $row.find("td:eq(23) input[type='text']").val(),
                      "sumOldActiveMembersAmount": $row.find("td:eq(24) input[type='text']").val(),
                      "memberLoanAmount":  $row.find("td:eq(25) input[type='text']").val(),
                      "groupId":$row.find("td:eq(26) input[type='text']").val(),
                      "loanTypeId": $row.find("td:eq(27) input[type='text']").val(),
                      "atlLoanId": $row.find("td:eq(28) input[type='text']").val(),
                      "atlAccNo": $row.find("td:eq(29) input[type='text']").val()
                });
            });
            return JSON.stringify(rows);
        };

    function updateLoanMembers()
    {
        var updateloanData=convertTableToJson();
        updateloanDatail(updateloanData);
    }
    function updateAndApproveLoan(){
        var updateloanData=convertTableToJson();
        approveLoan(updateloanData);
    }
</script>
<style>
    input[type="text"] {
    width: 80px;
    }
</style>
{% endblock %}
<!-- PAGE CONTENT BEGINS -->
{% block content %}
<div class="row" id="main">
<!--2row Start-->
<div class="col-lg-12 col-sm-12 col-xs-12" >
    <!--second col-xs3 strat-->
    <div class="panel panel-default" id="loanDetailsId">
        <div class="panel-heading" ><span id="loanTypeName"></span> - <span id="groupName1"></span>  &nbsp&nbsp&nbsp( <span id="appGroupId"></span> )<span id="groupId" style="visibility:hidden;"></span>
        <span id="loanTypeId1" style="visibility:hidden;"></span>
        </div>
        <div class="panel-body" >
            <div class="col-md-5">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> SHG Name </div>
                        <div class="profile-info-value">
                            <span class="editable" id="groupName"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> SHG ID </div>
                        <div class="profile-info-value">
                            <span class="editable" id="shgId"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> No Of Members </div>
                        <div class="profile-info-value">
                            <span class="editable" id="postValidationCount"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> Installments</div>
                        <div class="profile-info-value">
                            <input type="text" class="editable" id="loanInstallments" autofocus maxlength=2 onkeypress='validate(event,1)'></input>
                        </div>
                    </div></div>
                </div>
                <div class="col-md-5">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> Loan Amount (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="loanAmount" style="float:right"></span>
                        </div>
                    </div>
                     <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                         <div class="profile-info-name2"> Processing Fee  (INR):</div>
                             <div class="profile-info-value">
                                <span class="editable" id="processingFee" style="float:right"></span>
                             </div>
                     </div>
                    <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                        <div class="profile-info-name2"> Service Tax (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="serviceTax" style="float:right"></span>
                        </div>
                    </div>
                    <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                        <div class="profile-info-name2"> Education Cess (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="educationCess" style="float:right"></span>
                        </div>
                    </div>

                    <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                        <div class="profile-info-name2"> AWB (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="awb" style="float:right"></span>
                        </div>
                    </div>
                    <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                        <div class="profile-info-name2"> Sundry Debt(ATL) (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="atldebt" style="float:right"></span>
                        </div>
                    </div>
                    <div class="profile-info-row" style="color:#CD0000;font-weight:bold">
                        <div class="profile-info-name2"> Insurance (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="insuranceAmount" style="float:right"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name2"> Net Loan Amount (INR):</div>
                        <div class="profile-info-value">
                            <span class="editable" id="netLoanAmount" style="float:right"></span>
                        </div>
                    </div>
                </div>
            </div>
        <!--panel body endend-->
    </div>
    <!--second col-xs3 end-->
</div>
<!--second row end-->
<div class="col-xs-12" >
    <!--2row Start col-10 start-->
    <div class="panel panel-default">
        <div class="error-container" id="loanAccNoPanelId" style="display:none">
        <div class="well">
            <h2 class="grey lighter smaller" id="loanAccountNumberId"></h2>
            <hr />
            <h3 class="grey lighter smaller" id="funder"></h3>
            <hr />
            <h3 class="lighter smaller">Group Id : <span id="loanGroupId"></span> </h3>
            <h3 class="lighter smaller">Group Name : <span id="loanGroupName"></span></h3>
            <h3 class="lighter smaller">Loan Type : <span id="loanGroupType"></span></h3>
            <div class="space"></div>
            <div class="space"></div>
            <div class="space"></div>
                <div class="center" id="resultBtnId">
                    <a href="/assignedTaskList/" class="btn btn-primary"> <i class="ace-icon fa fa-"></i>Go to My Tasks </a>
                </div>
        </div>
    </div>
    <div class="row" id="successPanel" style="display:none;">
        <!-- PAGE CONTENT BEGINS -->
        <div class="error-container">
            <div class="well">
                    <h1 id="validationMessage" class="grey center lighter smaller">   </h1>

                <hr />
                <div id="gStatus">
                    <h3  class="lighter bigger">Task has not been completed yet!  <i class="ace-icon glyphicon glyphicon-thumbs-down bigger-125"></i> </h3>
                </div>
                <div class="space"></div>

                <hr />
                <div class="space"></div>
                <div class="center" id="taskValBtn">
                    <!--a href="javascript:history.back()" class="btn btn-grey"> <i class="ace-icon fa fa-arrow-left"></i> Go Back </a-->
                    <a href="#" onclick="loadNextMem();" class="btn btn-primary"> <i class="ace-icon fa fa-arrow-right"></i> Next Member </a>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
        <div class="panel-body-danger">
            <!--2row panel body start-->
            <div id="defaultDisplay" style="display:block;">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active"><a data-toggle="tab" href="#upload">Member</a></li>
                    <li><a data-toggle="tab" href="#SHGCreditHistory">SHG Credit Enquiry</a></li>
                    <li><a data-toggle="tab" href="#viewDocuments">Documents</a></li>
                    <li><a data-toggle="tab" href="#groupPaymentHistory">Payment History</a></li>
                    <li><a data-toggle="tab" href="#groupHistory">Group History</a></li>
                    <li><a data-toggle="tab" href="#groupDetail">Group Details</a></li>
                    <li><a data-toggle="tab" href="#memberDetails">Member Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="upload" class="tab-pane in active">
                        <!-- form start-->
                        <section>
                            <!---upload doc startion-->
                            <div id="payment" class="tab-pane in active">
                                <section >
                                    <div class="page-content1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <!-- PAGE CONTENT BEGINS -->
                                                <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                                    <div class="widget-box widget-color-blue" id="widget-box-2">
                                                        <div class="widget-body" style="overflow-x:scroll;">
                                                            <div class="widget-main no-padding">
                                                                <table class="table table-striped table-bordered table-hover paymentTable" id="paymentTable" >
                                                                    <thead class="thin-border-bottom">

                                                                        <tr>
                                                                            <th> S.No</th>
                                                                            <th>App Mem Id</th>
                                                                            <th>New Mem</th>
                                                                            <th>Name</th>
                                                                            <th>SB A/C Number</th>
                                                                            <th>Bank Name</th>
                                                                            <th>Prev loan Amnt</th>
                                                                            <th>Loan Amnt</th>
                                                                            <th style="color: #CD0000">AWB</th>
                                                                            <th style="color: #CD0000">Solar Light</th>
                                                                            <th style="color: #CD0000">ATL/ELL Sundry Debt</th>
                                                                            <th style="color: #CD0000">Processing Fee</th>
                                                                            <th style="color: #CD0000">Service Tax</th>
                                                                            <th style="color: #CD0000">Education Cess</th>
                                                                            <th style="color: #CD0000">Insurance</th>
                                                                            <th>Net Amount</th>
                                                                            <th>Purpose</th>
                                                                            <th>Drop Mem</th>
                                                                            <th style="display:none">19atldebt</th>
                                                                            <th style="display:none"> 20 interest</th>
                                                                            <th style="display:none">21prevMonthGroupBalance</th>
                                                                            <th style="display:none">22 currentMonthCollection</th>
                                                                            <th style="display:none">23currentMonthOutstanding</th>
                                                                            <th style="display:none">24prevLoanGroupAmount</th>
                                                                            <th style="display:none"> 25sumOldActiveMembersAmount</th>
                                                                            <th style="display:none"> 26memberLoanAmount</th>
                                                                            <th style="display:none">27groupId</th>
                                                                            <th style="display:none">28 loanTypeId</th>
                                                                            <th style="display:none"> 29 ATLloanId</th>
                                                                            <th style="display:none"> 30 ATLaccNo</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody  id="loandata">
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.span -->
                                            </div>
                                            <!-- /.row -->
                                            <!-- PAGE CONTENT ENDS -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </section><br/>
                                <div class="row vertical-center">
                                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group vertical-center">
                                                    <label for="comment">Comment:</label>

                                                    <textarea class="form-control limited sample" rows="3" maxlength="3000" id="comment"></textarea>   
                                             </div>

                                    </div>
                                </div>
                                <div >
                                    <button type="button" class="btn btn-danger" id="drop" >Drop Members</button>
                                    <button type="button" class="btn btn-danger" onclick="updateLoanMembers();">Update Members</button>
                                    <button type="button" class="btn btn-danger" onclick="updateAndApproveLoan();">Approve Loan</button>
                                    <button type="button" class="btn btn-danger" onclick="updateGroupValStatus('Rejected');">Reject Loan</button>
                                </div>
                                <br>
                            </div>
                            <!-- payment tab start  -->
                            <!--upload doc end-->
                        </section>
                        <!-- SECTION END -->
                    </div>
                    <!--form End-->
                    <!-- Document tab start  -->
                    <div id="viewDocuments" class="tab-pane">
                        <div class="page-content1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                        <div class="widget-box widget-color-blue" id="widget-box-2">

                                            <div class="widget-body">
                                                <div class="widget-main no-padding">
                                                    <table class="table table-striped table-bordered table-hover" id="docments_table">
                                                        <thead class="thin-border-bottom">
                                                            <tr>
                                                                <th><i class="ace-icon fa fa-sort-numeric-asc"></i>  S.No</th>
                                                                <th><i class="ace-icon fa fa-list-ul"></i>  Document List</th>
                                                                <th><i class="ace-icon fa fa-user"></i>  Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.span -->
                                </div>
                                <!-- /.row -->
                                <!-- PAGE CONTENT ENDS -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                   <div id="groupPaymentHistory" class="tab-pane">
                            <div class="page-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-xs-12 col-sm-12  col-md-12 widget-container-col" id="widget-container-col-2">
                                        <div class="widget-box widget-color-blue" id="widget-box-2">

                                            <div class="widget-body">
                                                        <div class="widget-main no-padding" style="overflow: auto;">
                                                            <table class="table table-striped table-bordered table-hover" id="paymentHistoryLoadData">  </table>

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.span -->
                                </div>
                                <!-- /.row -->
                                <!-- PAGE CONTENT ENDS -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <div id="groupDetail" class="tab-pane">
                            <!-- form start-->
                            <section >
                                <div class="row">
                                    <!--secnod div started-->
                                    <div class="col-md-5">
                                        <div class="space-12"></div>
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Formation Date </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="groupFormationDate_groupRole"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> SHG Address </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="shgaddress_groupRole"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Animator </div>
                                                <div class="profile-info-value">
                                                     <span class="editable" id="animator_groupRole">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Rep 1</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="rep1_groupRole">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Rep 2</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="rep2_groupRole">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--secnod div ended-->
                                    <div class="col-md-5">
                                        <div class="space-12"></div>
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> SHG Id </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="appGroupId_groupRole"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> MDA </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="mda_groupRole"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> MWA</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="mwa_groupRole"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Village </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="villageName_groupRole"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- ROW END -->
                            </section>
                            <!-- SECTION END -->
                            <!-- CONATINER END -->
                            <!--form End-->
                        </div>
                         <div id="memberDetails" class="tab-pane">
                            <div class="page-content1">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- PAGE CONTENT BEGINS -->
                                        <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                            <div class="widget-box widget-color-blue" id="widget-box-2">

                                                <div class="widget-body">
                                                    <div class="widget-main no-padding">
                                                        <table class="table table-striped table-bordered table-hover" id="groupMemberDetails">
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.span -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- PAGE CONTENT ENDS -->
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                    <div id="groupHistory" class="tab-pane">
                        <div class="page-content1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                        <div class="widget-box widget-color-blue" id="widget-box-2">

                                            <div class="widget-body">
                                                <div class="widget-main no-padding">

                                                    <br>
                                                Under Processing..
                                                    <br><br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.span -->
                                </div>
                                <!-- /.row -->
                                <!-- PAGE CONTENT ENDS -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <div id="SHGCreditHistory" class="tab-pane">
                        <!--TAB MENU2 CONTENT START-->
                        <div class="page-content1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                        <div class="widget-box widget-color-blue" id="widget-box-2">
                                                <div class="widget-body"   style="overflow-x:scroll;">
                                                    <div class="widget-main no-padding">
                                                        <table id="creditTableID" class="table table-striped table-bordered table-hover">
                                                            <thead class="thin-border-bottom">
                                                                <tr>
                                                                    <th>OverLap Report</th>
                                                                    <th>Member ID</th>
                                                                    <th>Member Name</th>
                                                                    <th>Product</th>
                                                                    <th>Status</th>
                                                                    <th>Remarks</th>
                                                                    <th>HM Response Date</th>
                                                                    <th>Existing Loan Limit</th>
                                                                    <th>Loan Amount Eligible</th>
                                                                    <th>MFI Eligible</th>
                                                                    <th>MFI 1 Name</th>
                                                                    <th>Overdue_1</th>
                                                                    <th>Loan Amount_1</th>
                                                                    <th>Balance_1</th>
                                                                    <th>MFI 2 Name</th>
                                                                    <th>Overdue_2</th>
                                                                    <th>Loan Amount_2</th>
                                                                    <th>Balance_2</th>
                                                                    <th>MFI 3 Name</th>
                                                                    <th>Overdue_3</th>
                                                                    <th>Loan Amount_3</th>
                                                                    <th>Balance_3</th>
                                                                    <th>MFI 4 Name</th>
                                                                    <th>Overdue_4</th>
                                                                    <th>Loan Amount_4</th>
                                                                    <th>Balance_4</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="creditData"></tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                        </div>
                                        <!-- /.span -->
                                    </div>
                                    <!-- /.row -->
                                    <!-- PAGE CONTENT ENDS -->
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- Document tab ens  -->
                </div>
                <!-- TAB END-->

            </div>
            </div>
            <!--2row panel body end-->
        </div>
    </div><br><br><br>
    <!--2row Start col-10 End-->
</div>
<!--2row End-->
{% include 'query.html' %}
{% endblock content %}
