{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
<!-- PAGE CONTENT BEGINS -->
<script>
    var groupTaskList    = '{{ groupTaskList | escapejs }}';
    //groupTaskList = JSON.parse(groupTaskList);
    $(document).ready(function(){
    	taskCount();
    	filterKYCTasksByDate();
    });
</script>
<script src="{% static 'datajs/loadTaskList.js' %}"></script>
<script src="{% static 'datajs/grouplist.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-xs-8">
    <table  id="taskListTable" class="table table-bordered  ">
        <thead>
            <tr class="bg-primary">
                <th  align="">Date</th>
                <th>No.of Groups</th>
            </tr>
        </thead>
        <tbody id="tableData">
        </tbody>
    </table>
</div>
{% endblock content %}
