    {% extends 'base.html' %}
    {% load staticfiles %}
    
    
	  
	
                <!-- PAGE CONTENT BEGINS -->


                {% block content %}


                             <div class="col-xs-12 col-sm-12 col-md-12 widget-container-col" id="widget-container-col-2">
                      <div class="widget-box widget-color-blue" id="widget-box-2">
                        <div class="widget-header">
                          <h5 class="widget-title bigger lighter">
                            <i class="ace-icon fa fa-table"></i>
                            Task List
                          </h5>

                          <div class="widget-toolbar widget-toolbar-light no-border">
                            <select id="simple-colorpicker-1" class="hide">
                              <option selected="" data-class="blue" value="#981b1b">#307ECC</option>
                              <option data-class="blue2" value="#981b1b">#5090C1</option>
                              <option data-class="blue3" value="#981b1b">#6379AA</option>
                              <option data-class="green" value="#981b1b">#82AF6F</option>
                              <option data-class="green2" value="#981b1b">#2E8965</option>
                              <option data-class="green3" value="#981b1b">#5FBC47</option>
                              <option data-class="red" value="#981b1b">#E2755F</option>
                              <option data-class="red2" value="#981b1b">#E04141</option>
                              <option data-class="red3" value="#981b1b">#D15B47</option>
                              <option data-class="orange" value="#981b1b">#FFC657</option>
                              <option data-class="purple" value="#981b1b">#7E6EB0</option>
                              <option data-class="pink" value="#981b1b">#CE6F9E</option>
                              <option data-class="dark" value="#981b1b">#404040</option>
                              <option data-class="grey" value="#981b1b">#848484</option>
                              <option data-class="default" value="#981b1b">#EEE</option>
                            </select>
                          </div>
                        </div>

                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <table class="table table-striped table-bordered table-hover">
                              <thead class="thin-border-bottom">
                                <tr>
                                  <th>
                                    <i class="ace-icon fa fa-user"></i>
                                    S.No
                                  </th>
                  <th >Task Name</th>
                                  <th >Task Date</th>
                                   <th >Loan Type</th>
                                   <th >SHG Id</th>
                                  <th>                                   
                                    SHG Name
                                  </th>
                                  
                               
                                  <th >Claim</th>
                                  


                                </tr>




                              </thead>







                              <tbody>
                                <tr>
                  
                                  <td class="">1</td>
                  <td class="">KYC Check</td>
                                  <td class=""> Mon, Dec-20-2016, 15:32:27</td>
                                  <td class="">PLL</td>
                                  <td class="">11215</td>
                                  <td class="">Rose Group</td>

                               
                                  <td class="hidden-480">
                                   
                                      <button  type="submit" class="btn btn-Danger"> Un Claim</button>
                                  </td>
                                </tr>



                                <tr>
                                  <td class="">2</td>
                   <td class="">KYC Check</td>
                                  <td class=""> Mon, Dec-21-2016, 15:32:27</td>
                                  <td class="">ATL</td>
                                  <td class="">2232</td>
                                  <td class="">Dell Group</td>

                               
                                  <td class="hidden-480">
                                   
                                      <button  type="submit" class="btn btn-danger">Un Claim</button>
                                  </td>
                                </tr>





                                <tr>
                                  <td class="">3</td>
                   <td class="">Resolve Data Support Team Query</td>
                                  <td class=""> Mon, Dec-22-2016, 15:32:27</td>
                                  <td class="">PLL</td>
                                  <td class="">45421</td>
                                  <td class="">HP Group</td>

                               
                                  <td class="hidden-480">
                                   
                                      <button  type="submit" class="btn btn-danger">Un Claim</button>
                                  </td>
                                </tr>















                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  










                {% endblock content %}








				

               