<br><br>

<div class="footer">
  <div class="footer-inner">
    <div class="footer-content" style="line-height:20px;">
	<span class="bigger-120">
	    <span class="bolder">Madura Microfinance Ltd. © 2017 All rights reserved </span>&nbsp&nbsp<br>
        <span class="bolder" style="font-size:smaller">SHG-BPM Version-1</span>
         <span class="bolder" style="font-size:smaller">
        <img style ="cursor:auto" src="/static/images/chrome_icon.png"><span style="font-size:x-small">+55</span>
               <img style ="cursor:auto" src="/static/images/firefox_icon.png"><span style="font-size:x-small">+50</span>
           </span>
	</span> &nbsp;&nbsp; </div>
  </div>
</div>
