{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}
    <script>
        var group = '{{group | escapejs}}';

        $(document).ready(function(){
            taskCount();
            $("#loading").hide();
        });

    </script>
    <script src="/static/datajs/loadTaskList.js?v={{JS_VERSION}}"></script>

{% endblock javascript %}
<!-- PAGE CONTENT BEGINS -->

{% block content %}
    {% if group == "DataSupportTeam" %}
        <!-- BOX1 BEGINS -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="myTasks1"  class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>My Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'assignedTaskList' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="KYC_Check1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>KYC Check</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('KYC Check');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- BOX2 BEGINS -->
            <!-- BOX3 BEGINS -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="Query_Response1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Query Response!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Query Response');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- BOX 4 ends -->
    {% endif %}
    {% if group == "CMR" or group == "CLM" or group == "BM" %}
        <!-- BOX1 BEGINS -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="myTasks1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>My Tasks</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'assignedTaskList' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
	     <div class="col-lg-3 col-md-6">
                <div class="panel panel-teal">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Add_New_Members1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>Add New Members</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Add New Members');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
	     <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Resolve_Data_Support_Team_Query1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>Resolve Data Support Team Query</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Resolve Data Support Team Query');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Conduct_BAT-_Member_approval_in_CRM1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>BAT Approval</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Conduct BAT- Member approval in CRM');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
	     <div class="col-lg-3 col-md-6">
                <div class="panel panel-orange">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Prepare_Loan_Documents1" class="fa-3x">0</i></div>
                            <div class="col-xs-9 text-right">
                                <div>Prepare Loan documents</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Prepare Loan Documents');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- BOX2 BEGINS -->
            <!-- BOX3 BEGINS -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Upload_loan_documents_in_Web_application1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>Upload Documents</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Upload loan documents in Web application');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- BOX3BEGINS -->
            <!-- BOX 4BEGINS -->
            
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-gray">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Resolve_Credit_Team_Query1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>Resolve Credit Team Query</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Resolve Credit Team Query');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Generate_repayment_chart1" class="fa-3x">0</i></div>
                            <div class="col-xs-9 text-right">
                                <div>Generate repayment chart</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Generate repayment chart');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Upload_disbursement_docs1" class="fa-3x">0</i></div>
                            <div class="col-xs-9 text-right">
                                <div>Upload Disbursement Docs</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Upload disbursement docs');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-gray">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> <i id="Resolve_Confirm_Disbursement_Query1" class="fa-3x">0</i> </div>
                            <div class="col-xs-9 text-right">
                                <div>Resolve Confirm Disbursement Query</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Resolve Confirm Disbursement Query');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            
            

             
            
            
            
        </div>

    {% endif %}
    {% if group == "RM" or  group == "rm" %}
        <!-- BOX1 BEGINS -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="myTasks1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>My Tasks</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'assignedTaskList' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="Approve_or_Reject_Group1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Approve or Reject Group</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Approve or Reject Group');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- BOX 4 ends -->
    {% endif %}
    {% if group == "CreditTeam" %}
        <!-- BOX1 BEGINS -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="myTasks1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>My Tasks</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'assignedTaskList' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="Proposal_scrutiny1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Proposal Scrutiny</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Proposal scrutiny');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
	      <!-- BOX3 BEGINS -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="BM_Reply1" class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>BM Reply</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('BM Reply');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i  id="Approve_Loan1"  class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Approve Loan</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="redirectToTaskPage('Approve Loan');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- BOX2 BEGINS -->
           
                
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-gray">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="Confirm_disbursement1"  class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Confirm disbursement</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Confirm disbursement');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

             <div class="col-lg-3 col-md-6">
                <div class="panel panel-teal">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i id="Confirm_Disbursement_Query_Response1"  class="fa-3x">0</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Confirm Disbursement Query Response</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" onclick="tasklistRedirect('Confirm Disbursement Query Response');">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- BOX3BEGINS -->
            <!-- BOX 4BEGINS -->
        </div>

    {% endif %}
{% endblock content %}
