{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}

<script src="{% static 'datajs/grouplist.js' %}"></script>
<script src="{% static 'datajs/loadTaskList.js' %}"></script>
<script src="{% static 'datajs/mysidenav.js' %}"></script>
<script type="text/javascript">
        var groupId = '{{ groupId | escapejs }}';
        var loanId = '{{ loanId | escapejs }}';
        var taskId = '{{ taskId | escapejs }}';
        var group = '{{ group | escapejs }}';
        var userId = '{{ userId | escapejs }}';
        var taskName = '{{ taskName | escapejs }}';
        var processInstanceId = '{{ processInstanceId | escapejs }}';
        $(document).ready(function (){
            getGroupData(groupId,loanId);
            taskCount();
            $("#idProof").imageBox();
            $("#unbind-pos").draggable();
        });

    </script>
{% endblock %}

<!-- PAGE CONTENT BEGINS -->
{% block content %}

<div class="row" id="main">
    <!--second row strat-->
    <div class="col-lg-2 pricing-box" >
        <div class="panel panel-default">
            <div class="panel-heading">Group Detail </div>
            <div class="panel-body">
                <div class="list-group" id="san_test"></div>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	  </div>
        </div>
    </div>
    <div class="col-xs-10" >
        <div class="panel panel-default" style="overflow-x:auto;">
            <div class="panel-heading">
                <span id="groupName"></span> &nbsp&nbsp&nbsp(
                <span id="appGroupId"></span> )
                <span id="groupId" style="visibility:hidden;"></span>
                <span id="loanTypeId1" style="visibility:hidden;"></span>
            </div>
            <div class="panel-body-danger">
                <!-- tab start-->
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                        <li class="active">
                            <a data-toggle="tab" href="#home4">Member</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#profile4">Credit Enquiry</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div align="right" title="Comments">
                            <span style="font-size:20px;cursor:pointer" onclick="toggleNav();" onclick="myFunction(this)">
                                <button id="commentsBtn" style="float:right;margin-top:-55px;margin-right:-11px" class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn" data-target="#right-menu" data-toggle="modal"  type="button">
                                    Comments
                                </button>
                            </span>
                        </div>
                        <div id="home4" class="tab-pane in active">
                            <!-- form start-->
                            <section>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img id="MEMBERPHOTO_docPath" class="img img-test" data-url="{% static 'images/naveen.jpg' %}" src="{% static 'images/naveen.jpg' %}" height="135" width="134"  />
                                            &nbsp;&nbsp;&nbsp;

                                        <br/>
                                        <br/>
                                        <label class="label label-info arrowed-right arrowed-in  glyphicon-bookmark">Member ID   :&nbsp&nbsp&nbsp
                                            <span id="appMemberId"></span>
                                        </label>
                                        <br/>
                                        <label class="label label-info arrowed-right arrowed-in  glyphicon-bookmark">Loan ID    :&nbsp&nbsp&nbsp
                                            <span id="loanId"></span>
                                        </label>
                                        <br/>
                                        <label class="label label-info arrowed-right arrowed-in  glyphicon-bookmark">De-dup Status :&nbsp&nbsp
                                            <span id="dedupeStatus"></span>
                                        </label>
                                        <br/>
                                        <label class="label label-info arrowed-right arrowed-in  glyphicon-bookmark">CB Status :&nbsp&nbsp
                                            <span id="CBStatus"></span>
                                        </label>
                                        <span id="memberId" style="visibility:hidden;"></span>
                                        <span id="memberValStatus" style="visibility:hidden;"></span>
                                        <br />
                                        <br />
                                    </div>
                                    <!--secnod div started-->
                                    <div class="col-md-5">
                                        <div class="space-12"></div>
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Name  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="memberName"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Age </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="age"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Marital Status  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="maritalStatusString"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Spouse  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="husbandName"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Father </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="fatherName"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Address </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="address"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Role </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="roleName"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Village / Area</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="villageName"></span>
                                                    <span style="visibility:hidden" id="villages"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Permanent Addresss</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="permanentAddress"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Pin Code  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="pincode"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Mobile no </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="mobileNo"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-20"></div>
                                    </div>
                                    <!--secnod div ended-->
                                    <div class="col-md-5" style="margin-top: 2%;">
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> ID Proof </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="idProofValue"></span>
                                                        &nbsp;&nbsp;

                                                    <div id="idProof" style="display:inline-block;margin-top: 4px">
                                                        <img id="IDPROOF_docPath" style="display:none;width:30px;height:21px;" data-url="" src="" ></img>
                                                        <img id="IDPROOF_2_docPath" style="display:none;width:30px;height:21px;" data-url="" src="" >
                                                            <!--button type="button" class="btn btn-info btn-md btn-danger" id="myBtn2">view proof</button-->
                                                        </img>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Address Proof </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="addressProofValue"></span>
                                                        &nbsp;&nbsp;

                                                    <div id="idProof" style="display:inline-block;margin-top: 4px">
                                                        <img id="ADDRESSPROOF_docPath" style="display:none;width:30px;height:21px;" data-url="" src="" ></img>
                                                        <img id="ADDRESSPROOF_2_docPath" style="display:none;width:30px;height:21px;" data-url="" src="" >
                                                            <!--button type="button" class="btn btn-info btn-md btn-danger" id="myBtn2">view proof</button-->
                                                        </img>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> SB Account  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountNumber"></span>
                                                    <div style="display:inline-block;margin-top: 4px">
                                                        <img id="SBACCOUNTPASSBOOK_docPath" style="display:none;width:30px;height:21px;" data-url="" src="" ></img>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Bank name </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="bankName"></span>
                                                    <span style="visibility:hidden"  id="bankId"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Name (as in Bank Account) * </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="sbAccountName"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div id="branch_label" class="profile-info-name">Bank branch Name </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="branch"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Id  Proof Type</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="idProofTypeValue"></span>
                                                    <span style="visibility:hidden" id="idProofTypeId"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Address Proof Type </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="addressProofTypeValue"></span>
                                                    <span  style="visibility:hidden" id="addressProofTypeId"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Loan Amount  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="loanAmount"></span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Loan purpose  </div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="loanTypeName"></span>
                                                    <span  style="visibility:hidden" id="loanTypeValue"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5"></div>
                                        <div class="col-md-5"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                    </div>
                                </br>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div id="commentDivId" class="col-md-10">
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>{% if taskName == "Resolve Data Support Team Query" %}
                                            <font class="mandatory">*</font>{%  endif %}


                                            <textarea class="form-control" rows="3" style="width:94%;" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div id="operationsDivId" class="col-md-10">&nbsp;&nbsp;
                                                    {% if group == "DataSupportTeam" %}

                                            <button type="button" class="btn btn-danger btn-md" id="myBtn2" onclick="updateMemValidationStatus('Rework');">Rework</button>
                                                    {% endif %}

                                            <button type="button" class="btn btn-danger btn-md" id="myBtn2" onclick="updateMemValidationStatus('Approved');">Approve</button>
                                            <button type="button" class="btn btn-danger btn-md" id="myBtn2" onclick="updateMemValidationStatus('Rejected');">Reject</button>
                                        </div>
                                    </div>
                                </section>
                                <!-- SECTION END -->
                                <!-- CONATINER END -->
                                <!--form End-->
                            </div>
                            <div id="profile4" class="tab-pane">
                                <div class="page-content">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <!-- PAGE CONTENT BEGINS -->
                                            <div class="col-xs-12 col-sm-6  col-md-12 widget-container-col" id="widget-container-col-2">
                                                <div class="widget-box widget-color-blue" id="widget-box-2">
                                                    <div class="widget-body">
                                                        <div class="widget-main no-padding" style="overflow: auto;">
                                                            <table class="table table-striped table-bordered table-hover">
                                                                <thead class="thin-border-bottom">
                                                                    <tr>
                                                                        <th>OverLap Report</th>
                                                                        <th>Product</th>
                                                                        <th>Status</th>
                                                                        <th>Remarks</th>
                                                                        <th>HM Response Date</th>
                                                                        <th>Existing Loan Limit</th>
                                                                        <th>Loan Amount Eligible</th>
                                                                        <th>MFI Eligible</th>
                                                                        <th>MFI 1 Name</th>
                                                                        <th>Overdue_1</th>
                                                                        <th>Loan Amount_1</th>
                                                                        <th>Balance_1</th>
                                                                        <th>MFI 2 Name</th>
                                                                        <th>Overdue_2</th>
                                                                        <th>Loan Amount_2</th>
                                                                        <th>Balance_2</th>
                                                                        <th>MFI 3 Name</th>
                                                                        <th>Overdue_3</th>
                                                                        <th>Loan Amount_3</th>
                                                                        <th>Balance_3</th>
                                                                        <th>MFI 4 Name</th>
                                                                        <th>Overdue_4</th>
                                                                        <th>Loan Amount_4</th>
                                                                        <th>Balance_4</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="credit">
                                                                    <tr id="creditData">
                                                                        <td>
                                                                            <button type="button" id="OVERLAPREPORT_docPath" class="btn btn-info btn-md btn-danger" >View</button>
                                                                        </td>
                                                                        <td id="s_product_type"></td>
                                                                        <td id="status"></td>
                                                                        <td id="remarks"></td>
                                                                        <td id="hm_response_date"></td>
                                                                        <td id="existing_loan_limit"></td>
                                                                        <td id="loan_amount_eligible"></td>
                                                                        <td id="no_of_mfi_eligible"></td>
                                                                        <td id="name_of_mfi_1"></td>
                                                                        <td id="overdue_amount_1"></td>
                                                                        <td id="loan_amount_1"></td>
                                                                        <td id="balance_1"></td>
                                                                        <td id="name_of_mfi_2"></td>
                                                                        <td id="overdue_amount_2"></td>
                                                                        <td id="loan_amount_2"></td>
                                                                        <td id="balance_2"></td>
                                                                        <td id="name_of_mfi_3"></td>
                                                                        <td id="overdue_amount_3"></td>
                                                                        <td id="loan_amount_3"></td>
                                                                        <td id="balance_3"></td>
                                                                        <td id="name_of_mfi_4"></td>
                                                                        <td id="overdue_amount_4"></td>
                                                                        <td id="loan_amount_4"></td>
                                                                        <td id="balance_4"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div id="nodata" style="display:none;font-weight:bold;margin:1%">No Data Available</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.span -->
                                        </div>
                                        <!-- /.row -->
                                        <!-- PAGE CONTENT ENDS -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <!--- tab end></div></div></div></div>
                            <!--second row Ended-->
                            <!-- PAGE CONTENT BEGINS -->
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
        </div>
        <!-- /.main-content -->
        <!-- Modal End -->
        <!--modal start query view -->
    </div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
{% include 'query.html' %}
{% endblock content %}


