{% if group == "DataSupportTeam" %}

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>
    <ul class="nav nav-list">
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Task
        <span id="myTasks" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <!--a href="{% url 'KYCTaskList' %}"-->
            <a href="#" onclick="tasklistRedirect('PLL','KYC Check');">
                <i class="menu-icon glyphicon glyphicon-list-alt"></i>
                <span class="menu-text">PLL-KYC Task
        <span id="KYC_Check_PLL" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" onclick="tasklistRedirect('PLL','Query Response');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">PLL-Query Resp
        <span id="Query_Response_PLL" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <!--a href="{% url 'KYCTaskList' %}"-->
            <a href="#" onclick="tasklistRedirect('BDL','KYC Check');">
                <i class="menu-icon glyphicon glyphicon-list-alt"></i>
                <span class="menu-text">BDL-KYC Task
        <span id="KYC_Check_BDL" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('BDL','Query Response');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">BDL-Query Resp
        <span id="Query_Response_BDL" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>


    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }}  {{loanTypeName }} </span> </li>
        </ul>

        <!-- /.breadcrumb -->
    </div>
{% endif %}
{% if group == "CMR" or group == "CLM" or group == "BM"%}
    <!-- start BM login menu -->
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Tasks 
                    <span id="myTasks" class="badge badge-danger">0</span> 
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Conduct BAT- Member approval in CRM','PLL');">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text">PLL-BAT Approval
                    <span id="Conduct_BAT-_Member_approval_in_CRM_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Conduct BAT- Member approval in CRM','BDL');">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text">BDL-BAT Approval
                    <span id="Conduct_BAT-_Member_approval_in_CRM_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Upload loan documents in Web application','PLL');">
                <i class="menu-icon glyphicon glyphicon-cloud-upload"></i>
                <span class="menu-text">PLL-Upload Docs
                    <span id="Upload_loan_documents_in_Web_application_PLL" class="badge badge-danger">0</span>
                 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Upload loan documents in Web application','BDL');">
                <i class="menu-icon glyphicon glyphicon-cloud-upload" ></i>
                <span class="menu-text">BDL-Upload Docs
                    <span id="Upload_loan_documents_in_Web_application_BDL" class="badge badge-danger">0</span>
                 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Data Support Team Query','PLL');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text">PLL-RDST Query
                    <span id="Resolve_Data_Support_Team_Query_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Data Support Team Query','BDL');">
                <i class="menu-icon glyphicon glyphicon-share-alt" ></i>
                <span class="menu-text">BDL-RDST Query
                    <span id="Resolve_Data_Support_Team_Query_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Credit Team Query','PLL');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text">PLL-RCT Query
                    <span id="Resolve_Credit_Team_Query_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Credit Team Query','BDL');">
                <i class="menu-icon glyphicon glyphicon-share-alt" ></i>
                <span class="menu-text">BDL-RCT Query
                    <span id="Resolve_Credit_Team_Query_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" onclick="redirectToTaskPage('Add New Members','PLL');">
                <i class="menu-icon glyphicon glyphicon-plus-sign"></i>
                <span class="menu-text">PLL-New members
                    <span id="Add_New_Members_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Add New Members','BDL');">
                <i class="menu-icon glyphicon glyphicon-plus-sign"></i>
                <span class="menu-text">BDL-New members
                    <span id="Add_New_Members_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Print Loan Documents & FSR','PLL');">
                <i class="menu-icon glyphicon glyphicon-print "></i>
                <span class="menu-text">PLL-Prnt Loan Docs
                    <span id="Print_Loan_Documents_&_FSR_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
         <li class="">
            <a href="#" onclick="redirectToTaskPage('Print Loan Documents & FSR','BDL');">
                <i class="menu-icon glyphicon glyphicon-print" ></i>
                <span class="menu-text">BDL-Prnt Loan Docs
                    <span id="Print_Loan_Documents_&_FSR_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }}  {{loanTypeName }} </span> </li>
        </ul>

        <!-- /.breadcrumb -->
    </div>
    <!-- end of BM login menu -->
{% endif %}
{% if group == "RM" or  group == "rm" %}
    <!-- Start of RM login menu -->
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>
    <ul class="nav nav-list">
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Task
                    <span id="myTasks" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve or Reject Group','PLL');">
                <i class="menu-icon glyphicon glyphicon-check"></i>
                <span class="menu-text">PLL-App/Rej Grp
        	        <span id="Approve_or_Reject_Group_PLL" class="badge badge-danger">0</span>
        	    </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve or Reject Group','BDL');">
                <i class="menu-icon glyphicon glyphicon-check"></i>
                <span class="menu-text">BDL-App/Rej Grp
        	        <span id="Approve_or_Reject_Group_BDL" class="badge badge-danger">0</span>
        	    </span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }}  {{loanTypeName }}  </span> </li>

        </ul>
        <!-- /.breadcrumb -->
    </div>
    <!-- end of RM login menu -->
{% endif %}
{% if group == "CreditTeam" %}
    <!-- Start of CT login menu -->
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> My Tasks
                    <span id="myTasks" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('PLL','Proposal scrutiny');">
                <i class="menu-icon fa fa-support"></i>
                <span class="menu-text">PLL-Prop Scrutiny
                    <span id="Proposal_scrutiny_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('BDL','Proposal scrutiny');">
                <i class="menu-icon fa fa-support"></i>
                <span class="menu-text">BDL-Prop Scrutiny
                    <span id="Proposal_scrutiny_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve Loan','PLL');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text">PLL-Approve Loan
                    <span  id="Approve_Loan_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve Loan','PLL');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text">BDL-Approve Loan
                    <span  id="Approve_Loan_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('PLL','BM Reply');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">PLL-BM Reply
                    <span id="BM_Reply_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('BDL','BM Reply');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">BDL-BM Reply
                    <span id="BM_Reply_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Prepare & print chq through BPM','PLL');">
                <i class="menu-icon glyphicon glyphicon-print "></i>
                <span class="menu-text">PLL-Prep&Prnt Chq
                    <span id="Prepare_&_print_chq_through_BPM_PLL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Prepare & print chq through BPM','BDL');">
                <i class="menu-icon glyphicon glyphicon-print "></i>
                <span class="menu-text">BDL-Prep&Prnt Chq
                    <span id="Prepare_&_print_chq_through_BPM_BDL" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }}  {{loanTypeName }} </span> </li>

        </ul>
        <!-- /.breadcrumb -->
    </div>
    <!-- side bar end -->
    <!-- END of CT login menu -->
{% endif %}
