{% if group == "DataSupportTeam" %}

    <!--div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div-->
    <ul class="nav nav-list">
       <li class="">
            <a style="color:#981b1b;font-weight:bold" href="{% url 'dashboard' %}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard

        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Task
        <span id="myTasks" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <!--a href="{% url 'KYCTaskList' %}"-->
            <a href="#" onclick="tasklistRedirect('KYC Check');">
                <i class="menu-icon glyphicon glyphicon-list-alt"></i>
                <span class="menu-text">KYC Check
        <span id="KYC_Check" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" onclick="tasklistRedirect('Query Response');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">Query Response
        <span id="Query_Response" class="badge badge-danger">0</span>
        </span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs" >
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }} </span> </li>
        </ul>
	       <div  style="float:right;"><div id="notificationDiv" class="notificationBox" style="float:left;display:none">
			<div class="simple-marquee-container">
				<div class="marquee-sibling" style="font-weight:bold;font-size:larger;"><span class="days" style="display:none"></span>:<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li id="notificationText">   </li>
					</ul>
				</div>
			</div>
		</div>

        <span class="rightAlign" id="commentSpanId" style="float:right;font-size:20px;cursor:pointer;display:none;" onclick="toggleNav();">
            <button id="commentsBtn" style="float:right;margin-top:3px;"
                        class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn"
                        data-target="#right-menu" data-toggle="modal" type="button">
                <i class="fa fa-comment fa-1x" style="cursor:pointer" aria-hidden="true"></i>
            </button>
        </span>
	</div>
        <!-- /.breadcrumb -->
    </div>
{% endif %}
{% if group == "CMR" or group == "CLM" or group == "BM"%}
    <!-- start BM login menu -->
    <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>-->
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
	<li class="">
            <a style="color:#981b1b;font-weight:bold" href="{% url 'dashboard' %}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard

        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Tasks
                    <span id="myTasks" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
	 <li class="">
            <a href="#" onclick="redirectToTaskPage('Add New Members');">
                <i class="menu-icon glyphicon glyphicon-plus-sign"></i>
                <span class="menu-text"> Add new members
                    <span id="Add_New_Members" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
	 <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Data Support Team Query');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text"> Resolve DST Query
                    <span id="Resolve_Data_Support_Team_Query" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Conduct BAT- Member approval in CRM');">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> BAT Approval
                    <span id="Conduct_BAT-_Member_approval_in_CRM" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
	 <li class="">
            <a href="#" onclick="redirectToTaskPage('Prepare Loan Documents');">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text"> Prepare Loan Docs
                    <span id="Prepare_Loan_Documents" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" onclick="redirectToTaskPage('Upload loan documents in Web application');">
                <i class="menu-icon glyphicon glyphicon-cloud-upload"></i>
                <span class="menu-text"> Upload Docs
                    <span id="Upload_loan_documents_in_Web_application" class="badge badge-danger">0</span>
                 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Resolve Credit Team Query');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text"> Resolve CT Query
                    <span id="Resolve_Credit_Team_Query" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
 	 <li class="">
            <a href="#" onclick="redirectToTaskPage('Generate repayment chart');">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text"> Generate LOS
                    <span id="Generate_repayment_chart" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
	 <li class="">
            <a href="#" onclick="tasklistRedirect('Upload disbursement docs');">
                <i class="menu-icon glyphicon glyphicon-cloud-upload"></i>
                <span class="menu-text"> Upload Disb Docs
                    <span id="Upload_disbursement_docs" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('Resolve Confirm Disbursement Query');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text"> Resolve Disb Query
                    <span id="Resolve_Confirm_Disbursement_Query" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>
                {% if taskName == "Print Loan Documents & FSR" or taskName == "Prepare Loan Documents" %}
                    Prepare Loan Documents
                {% else %}
                    {{ taskName }}
                {% endif %}
            </span> </li>
        </ul>
                <div  style="float:right;"><div id="notificationDiv" class="notificationBox" style="float:left;display:none">
			<div class="simple-marquee-container">
				<div class="marquee-sibling" style="font-weight:bold;font-size:larger;"><span class="days" style="display:none"></span>:<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li id="notificationText">   </li>
					</ul>
				</div>
			</div>
		</div>

        <span class="rightAlign" id="commentSpanId" style="float:right;font-size:20px;cursor:pointer;display:none;" onclick="toggleNav();">
            <button id="commentsBtn" style="float:right;margin-top:3px;"
                        class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn"
                        data-target="#right-menu" data-toggle="modal" type="button">
                <i class="fa fa-comment fa-1x" style="cursor:pointer" aria-hidden="true"></i>
            </button>
        </span>
	</div>

        <!-- /.breadcrumb -->
    </div>
    <!-- end of BM login menu -->
{% endif %}
{% if group == "RM" or  group == "rm" %}
    <!-- Start of RM login menu -->
    <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>-->
    <ul class="nav nav-list">
	<li class="">
            <a style="color:#981b1b;font-weight:bold" href="{% url 'dashboard' %}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard

        </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon glyphicon glyphicon-edit"></i>
                <span class="menu-text"> My Task
                    <span id="myTasks" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve or Reject Group');">
                <i class="menu-icon glyphicon glyphicon-check"></i>
                <span class="menu-text"> App or Rej Grp
        	        <span id="Approve_or_Reject_Group" class="badge badge-danger">0</span>
        	    </span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }}  </span> </li>

        </ul>
                 <div style="float:right;"><div class="notificationBox" id="notificationDiv" style="float:left;display:none">
			<div class="simple-marquee-container">
				<div class="marquee-sibling" style="font-weight:bold;font-size:larger;"><span class="days" style="display:none"></span>:<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li id="notificationText">   </li>
					</ul>
				</div>
			</div>
		</div>

        <span class="rightAlign" id="commentSpanId" style="float:right;font-size:20px;cursor:pointer;display:none;" onclick="toggleNav();">
            <button id="commentsBtn" style="float:right;margin-top:3px;"
                        class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn"
                        data-target="#right-menu" data-toggle="modal" type="button">
                <i class="fa fa-comment fa-1x" style="cursor:pointer" aria-hidden="true"></i>
            </button>
        </span>
	</div>

        <!-- /.breadcrumb -->
    </div>
    <!-- end of RM login menu -->
{% endif %}
{% if group == "CreditTeam" %}
    <!-- Start of CT login menu -->
    <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"> <i class="ace-icon fa fa-signal"> </i> </button>
            <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"> </i> </button>
            <button class="btn btn-warning"> <i class="ace-icon fa fa-users"> </i> </button>
            <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"> </i> </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"> </span> <span class="btn btn-info"> </span> <span class="btn btn-warning"> </span> <span class="btn btn-danger"> </span> </div>
    </div>-->
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
	<li class="">
            <a style="color:#981b1b;font-weight:bold" href="{% url 'dashboard' %}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard

        </span>
            </a>
            <b class="arrow"></b>
        </li>

        {% if roleAction == "Loan-Edit" %}
	    <li class="">
            <a href="{% url 'taskReassign' %}">
                 <i class="menu-icon fa fa-tasks"></i>
                <span class="menu-text">Re-Assign Tasks
                    <span class="badge badge-danger"></span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        {% endif %}

        <li class="">
            <a href="{% url 'assignedTaskList' %}">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> My Tasks
                    <span id="myTasks" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('Proposal scrutiny');">
                <i class="menu-icon fa fa-support"></i>
                <span class="menu-text"> Proposal Scrutiny
                    <span id="Proposal_scrutiny" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
	  <li class="">
            <a href="#" onclick="tasklistRedirect('BM Reply');">
                <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text"> BM Reply
                    <span id="BM_Reply" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="redirectToTaskPage('Approve Loan');">
                <i class="menu-icon glyphicon glyphicon-share-alt"></i>
                <span class="menu-text"> Approve Loan
                    <span  id="Approve_Loan" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>





        <li class="">
            <a href="#" onclick="tasklistRedirect('Confirm disbursement');">
                <i class="menu-icon glyphicon glyphicon-ok-sign"></i>
                <span class="menu-text"> Conf Disbursement
                    <span id="Confirm_disbursement" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" onclick="tasklistRedirect('Confirm Disbursement Query Response');">
                 <i class="menu-icon glyphicon glyphicon-retweet"></i>
                <span class="menu-text">ConfDisb QueryRes
                    <span id="Confirm_Disbursement_Query_Response" class="badge badge-danger">0</span>
                </span>
            </a>
            <b class="arrow"></b>

        </li>



    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"> </i> </div>
    </div>
    <div class="main-content">
    <div class="main-content-inner" id="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="ace-icon fa fa-home home-icon"> </i> <a href="{% url 'hello' %}">Home </a> </li>
            <li> <i class="ace-icon"> </i> <span>{{ taskName }} </span> </li>

        </ul>
        <!-- /.breadcrumb -->
         <div style="float:right;"><div class="notificationBox" id="notificationDiv" style="float:left;display:none">
			<div class="simple-marquee-container">
				<div class="marquee-sibling" style="font-weight:bold;font-size:larger;"><span class="days" style="display:none"></span>:<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li id="notificationText">   </li>
					</ul>
				</div>
			</div>
		</div>

        <span class="rightAlign" id="commentSpanId" style="float:right;font-size:20px;cursor:pointer;display:none;" onclick="toggleNav();">
            <button id="commentsBtn" style="float:right;margin-top:3px;"
                        class="aside-trigger btn btn-danger btn-app btn-xs ace-settings-btn"
                        data-target="#right-menu" data-toggle="modal" type="button">
                <i class="fa fa-comment fa-1x" style="cursor:pointer" aria-hidden="true"></i>
            </button>
        </span>
	</div>


    </div>

    <!-- side bar end -->
    <!-- END of CT login menu -->
{% endif %}
